html,body,header,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit}

table
{border-collapse:separate;border-spacing:0}

ul,ol
{list-style-type:none;margin:0 0 0 0;padding:0 0 0 0}

ul li,ol li
{margin:0 0 0 0;padding:0 0 0 0}

blockquote:before,blockquote:after,q:before,q:after
{content:""}

blockquote,q
{quotes:"" ""}

article,aside,details,dialog,figcaption,figure,footer,header,hgroup,menu,nav,main,section
{display:block}

*
{-webkit-tap-highlight-color:transparent}

.contextual-links-region:hover a.contextual-links-trigger
{display:block !important}

.contextual-links
{font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif !important;font-size:14px !important;margin:0 !important;padding:0 !important}

.contextual-links li
{margin:0 !important;padding:0 !important}

.contextual-links li a
{font-size:14px !important}

.ghost
{display:none !important}

.small
{font-size:.8em;line-height:1.875em}

.large
{font-size:1.2em;line-height:1.25em}

mark,.highlight
{background:#ffc}

#responsive-preview-navbar-tab ul.responsive-preview-options
{display:none !important}

#responsive-preview-navbar-tab.open ul.responsive-preview-options
{display:block !important;position:absolute;width:13em !important}

.responsive-preview-icon-responsive-preview
{width:13em !important}

.responsive-preview-icon-responsive-preview:before
{left:0em !important}

.responsive-preview-icon-responsive-preview:after
{right:0.6667em !important}

body.navbar-administration #site-nav a.contextual-links-trigger
{padding:0 0 0 0;margin:10px 0 0 0}

body.navbar-administration #sub-nav .contextual-links-region
{margin:20px 0 20px 0;display:inline-block;width:100%}

body.navbar-administration #sub-nav .contextual-links-region ul
{padding:0 0}

body.navbar-administration nav.tabs
{margin:20px 0}

div.status,div.messages
{margin:0 0 25px 0;font-size:0.6em;clear:both;display:block}

div.status ul,div.messages ul
{margin:0 0 0 0;padding:0}

div.status ul li,div.messages ul li
{margin:0 0 10px 0}

#shib_login_url a
{color:#FFF !important}

body
{font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;background-color:#fff;color:#2f2a20;min-width:300px;padding-top:32px}

body p::selection,body ul::selection,body ol::selection,body hr::selection,body li::selection,body img::selection,body strong::selection,body em::selection,body h1::selection,body h2::selection,body h3::selection,body h4::selection,body h5::selection,body h6::selection,body a::selection,body aside::selection,body nav::selection,body header::selection,body footer::selection,body span::selection,body table::selection,body tr::selection,body td::selection,body blockquote::selection
{background-color:#f3f0ea !important}

.marginator,#main-bottom .width
{max-width:1300px;margin:0 auto;width:84%}

.marginator:after,#main-bottom .width:after
{content:"	";clear:both;display:block;position:absolute}

img
{max-width:100%;height:auto}

img.left
{margin:0px auto 20px auto;width:90%}

img.right
{margin:0px auto 20px auto;width:90%}

img.middle
{display:block;margin:0px auto 20px auto;width:90%}

a img
{border:0}

img[style*="float:left;"]
{float:left;margin:0 30px 30px 0}

img[style*="float:right;"]
{float:right;margin:0 0 30px 30px}

article th,article td,article table,#main-content .block th,#main-content .block td,#main-content .block table
{border:1px solid #d7d5d3;border-width:0 1px 1px 0;vertical-align:top}

article table,#main-content .block table
{margin:auto;margin-bottom:30px;font-size:1em;width:90% !important;max-width:100%;overflow:hidden;border:1px solid #d7d5d3;border-collapse:collapse;border-spacing:0;font-size:0.7em}

article table .numeric,#main-content .block table .numeric
{text-align:right}

article tr:hover,#main-content .block tr:hover
{background-color:#f3f0ea}

article tr:nth-child(odd),article tr.odd,article tr.odd,#main-content .block tr:nth-child(odd),#main-content .block tr.odd,#main-content .block tr.odd
{background-color:#fff}

article tr:nth-child(even),article tr.even,article tr.even,#main-content .block tr:nth-child(even),#main-content .block tr.even,#main-content .block tr.even
{background-color:#efece4}

article th,article thead th,article tbody th,#main-content .block th,#main-content .block thead th,#main-content .block tbody th
{border-color:#d7d5d3}

article td,article tbody th,#main-content .block td,#main-content .block tbody th
{padding:.875em}

article thead th,#main-content .block thead th
{color:#fff;text-transform:uppercase;text-align:center;background-color:#aba698;padding:1.25em}

article tbody,#main-content .block tbody
{border-top:1px solid #ccc}

article tbody th,#main-content .block tbody th
{border-bottom:1px solid #ccc}

.embed
{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;margin-bottom:25px}

.embed iframe,.embed object,.embed embed
{position:absolute;top:0;left:0;width:100%;height:100%}

main form
{padding:15px 4%;border:1px solid #aba698;border-radius:3px;background-color:#f3f0ea;font-size:0.9em}

main form div
{margin:0 0 1em 0}

main form .marker,main form .form-required
{color:#C00404}

main form label
{display:block;margin:0 0 5px 0;font-size:0.8em;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;letter-spacing:1px;color:#2f2a20}

main form label>span
{display:block;font-size:12px}

main form small
{display:block;font-size:0.7em}

main form input[type="text"],main form input[type="password"],main form textarea,main form select
{-webkit-appearance:none;-webkit-border-radius:3px;padding:5px 8px;margin:0 0 15px 0;width:88%;border-radius:3px;border:1px solid #aba698;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;font-size:0.9em}

main form input[type="submit"],main form #edit-submit
{-webkit-appearance:none;-webkit-border-radius:3px;padding:5px 15px;border-radius:3px;color:#fff;background-color:#C00404;border:1px solid #C00404;font-size:0.8em;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;text-transform:uppercase;letter-spacing:1px;clear:both;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out;display:inline-block;margin:0 1.5em 1em 0}

main form input[type="submit"]:hover,main form #edit-submit:hover
{-webkit-transform:scale(1.1);transform:scale(1.1);z-index:999;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out}

main form input[type="submit"]#edit-preview,main form #edit-submit#edit-preview
{background-color:#04C039;border:1px solid #04C039}

#shib_login_url a:hover
{color:#FFF !important}

article ul,#main-content .block ul
{list-style-type:disc;margin:0px 0px 25px 35px;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif}

article ul.arrows,#main-content .block ul.arrows
{list-style-image:url(../i/icons/bullet-red.png)}

article ol,#main-content .block ol
{margin:0px 0px 25px 35px;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif}

article ol li,#main-content .block ol li
{list-style-type:decimal}

article ol li.roman-upper,#main-content .block ol li.roman-upper
{list-style-type:upper-roman}

article ol li.roman-lower,#main-content .block ol li.roman-lower
{list-style-type:lower-roman}

article ol li.alpha-upper,#main-content .block ol li.alpha-upper
{list-style-type:upper-alpha}

article ol li.alpha-lower,#main-content .block ol li.alpha-lower
{list-style-type:lower-alpha}

article li,#main-content .block li
{margin:0px 0px 0 4px;font-size:0.75em;line-height:1.5}

article li.no-bullet,#main-content .block li.no-bullet
{list-style-type:none}

article li li,#main-content .block li li
{font-size:.95em}

article ul ul,#main-content .block ul ul
{margin:15px 0px 15px 31px;list-style-type:circle}

article ul ul ul,#main-content .block ul ul ul
{list-style-type:disc}

article ol ol,#main-content .block ol ol
{margin:15px 0px 15px 31px}

article ol ol li,#main-content .block ol ol li
{list-style-type:lower-alpha}

article ol ol ol li,#main-content .block ol ol ol li
{list-style-type:lower-roman}

ul li.expanded,ul li.collapsed,ul li.leaf
{padding:0 0 0 0;margin:0;list-style-image:none;list-style-type:none}

ul.tabs
{line-height:1.125em}

ul.tabs li a
{font-size:0.7em}

a
{text-decoration:none;color:#C00404;transition:0.2s linear;-webkit-transition:0.2s linear}

a:hover
{text-decoration:underline}

.more-link
{text-align:left}

a.more-link,.more-link a
{border-radius:3px;background-color:#aba698;color:#fff;display:inline-block;font-size:0.625em;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;letter-spacing:1px;padding:5px 15px 5px 20px;font-size:0.5em}

a.more-link::before,.more-link a::before
{content:" ";height:8px;width:8px;background-size:8px 8px;background-image:url("../i/icons/arrow.svg");padding:0 0;margin:0 5px 0 -14px;display:inline-block}

a.more-link:hover,.more-link a:hover
{background-color:#C00404;color:#FFF !important}

a.contextual-links-trigger
{transition:0s linear;-wekit-transition:0s linear}

p a,.breadcrumb a,#sub-nav a
{color:#C00404}

#brown-menu-button,.social-media a
{transition:0s linear;-webkit-transition:0s linear}

article a:link,#main-content a:link,#sub-nav a:link,#content h2 a:link
{color:#C00404}

article a:hover,#main-content a:hover,#sub-nav a:hover,#content h2 a:hover
{color:#841616}

article a:active,#main-content a:active,#sub-nav a:active,#content h2 a:active
{background-color:#f3f0ea}

article a.button,#main-content a.button,#sub-nav a.button,#content h2 a.button
{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;background-color:#513f3c;color:#FFFFFF !important;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;text-transform:uppercase;display:inline-block;padding:6px 16px;font-size:18px;border:1px solid #d57934}

article a.button:hover,#main-content a.button:hover,#sub-nav a.button:hover,#content h2 a.button:hover
{background-color:#000;color:#FFFFFF !important}

li[href$='.pdf'],p[href$='.pdf']
{padding:0 20px 0 0;background:transparent url(../i/icons/pdf.gif) no-repeat center right}

li[href$='.doc'],p[href$='.doc']
{padding:0 20px 0 0;background:transparent url(../i/icons/doc.gif) no-repeat center right}

li[href$='.xls'],p[href$='.xls']
{padding:0 20px 0 0;background:transparent url(../i/icons/xls.gif) no-repeat center right}

li[href^="mailto:"],p[href^="mailto:"]
{padding:0 20px 0 0;background:transparent url(../i/icons/mailto.gif) no-repeat center right}

li[href*="//"]:not([href*="brown.edu"]),p[href*="//"]:not([href*="brown.edu"])
{padding:0 20px 0 0;background:transparent url(../i/icons/external.gif) no-repeat center right}

article.node-page a:link
{border-bottom:1px solid #C00404}

article.node-page a:hover
{background-color:#f3f0ea;text-decoration:none;border-bottom:2px solid #C00404}

main h1,main h2,main h3,main h4,main h5,main h6
{line-height:1.1;margin:1em 0 0.5em 0}

main .sidebar-first h2.title,main .sidebar-second h2.title
{font-size:1em}

main h1,main h3,main h5,main .block-user-login h2.title
{font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;border-bottom:none;text-transform:none}

main #main-content h2,main h4,main h6
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold}

main h1
{font-size:1.4em;margin:0 0 1em 0}

main h1.center
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;border-bottom:1px solid #fc0;line-height:0;text-align:center;padding:0 5%;margin:1em 0 2em 0 !important;font-size:1.4em;text-transform:uppercase;text-shadow:1px 1px 0 #FFF,-1px -1px 0 #FFF,1px -1px 0 #FFF,-1px 1px 0 #FFF,1px 1px 0 #FFF}

main h1.center span
{background-color:#FFF;padding:0 10px}

main h2.title
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold;border-bottom:1px solid #fc0;text-transform:uppercase;line-height:1.3;padding:0 0 4px 0;display:block;margin:0 0 0.75em 0}

main .block-user-login h2.title
{font-size:1em;margin:0 0 15px 0}

main h2
{font-size:1.2em}

main .articles h2
{font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif !important}

main h3
{font-size:1.2em}

main h3.field-label
{font-size:0.8em;color:#aba698}

main h4
{font-size:1em;font-weight:bold}

main h5
{font-size:0.7em}

main h5.date
{font-size:0.6em}

main h6
{border-bottom:1px solid #fc0;line-height:0;text-align:center;padding:0 5%;margin:3em 0 2em 0 !important;font-size:1em;text-transform:uppercase;text-shadow:1px 1px 0 #FFF,-1px -1px 0 #FFF,1px -1px 0 #FFF,-1px 1px 0 #FFF,1px 1px 0 #FFF}

main h6 span
{background-color:#FFF;padding:0 10px}

#main-bottom h2.title
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold;border-bottom:1px solid #fc0;line-height:0;text-align:center;padding:0 5%;margin:3em 0 2em 0 !important;font-size:1.5em !important;text-transform:uppercase;text-shadow:1px 1px 0 #FFF,-1px -1px 0 #FFF,1px -1px 0 #FFF,-1px 1px 0 #FFF,1px 1px 0 #FFF}

#main-bottom h2.title span
{background-color:#FFF;padding:0 10px}

#site-footer h2.title
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold;border-bottom:1px solid #fc0;text-transform:uppercase;font-size:1em;line-height:1.3;padding:0 0 4px 0;display:block;margin:0 0 0.75em 0}

#main-bottom h2.title
{font-size:1.3em;margin:2.5em 0 2em 0}

#sub-nav h2
{font-size:1em;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;text-transform:uppercase;letter-spacing:1px;margin:0px 0 8px 0}

#main-content article p+h2,#main-content article p+h3,#main-content article p+h4,#main-content article p+h5,#main-content article p+h6,#main-content article ul+h2,#main-content article ul+h3,#main-content article ul+h4,#main-content article ul+h5,#main-content article ul+h6,#main-content article blockquote+h2,#main-content article blockquote+h3,#main-content article blockquote+h4,#main-content article blockquote+h5,#main-content article blockquote+h6,#main-content article table+h2,#main-content article table+h3,#main-content article table+h4,#main-content article table+h5,#main-content article table+h6
{margin-top:2em}

article strong,main strong
{font-weight:bold}

article em,main em
{font-style:italic}

article p,main p
{font-size:0.75em;color:#2f2a20;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;margin:0 0 1em 0;line-height:1.6;word-break:break-all;word-break:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto}

article p.lead,main p.lead
{font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;font-size:1.2em;margin:0 0 0.8em 0}

article p.bio-name,main p.bio-name
{font:bold 1.125em/1.5em "Chronicle SSm A","Chronicle SSm B",Times New Roman,serif,serif;margin-bottom:0;color:#2f2a20}

article p.bio-title,main p.bio-title
{font:bold 1.0625em/1.5em "Chronicle SSm A","Chronicle SSm B",Times New Roman,serif,serif;margin-bottom:0;color:#2f2a20}

article p.bio-intro,main p.bio-intro
{clear:left}

article code,article pre,main code,main pre
{font-family:monospace, serif;font-size:1em}

article blockquote,main blockquote
{width:70%;margin:1.5em auto 1.5em auto;font-size:1.1em;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;line-height:1.2;padding:10px 0 10px 30px;border-left:2px solid #f3f0ea;quotes:"“" "”" "‘" "’"}

article blockquote p,main blockquote p
{font-size:1.1em;line-height:1.2;display:inline}

article blockquote::before,main blockquote::before
{content:open-quote;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;padding:0 3px 0 0;display:inline;margin-left:-15px;font-size:1.1em}

article blockquote::after,main blockquote::after
{font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;content:close-quote;padding:0 0 0 0;margin:0 0 0 -3px 0;display:inline;font-size:1.1em}

article hr,main hr
{border:none;border-bottom:1px dotted #f3f0ea;margin:2em auto;width:75%}

sup
{font-size:0.8em;margin-top:-14px;display:inline-block;vertical-align:middle}

sub
{font-size:0.8em;margin-bottom:-4px;display:inline-block;vertical-align:middle}

.element-invisible
{display:none}

#content .block,#sub-nav .block,aside .block,#main-bottom .block
{margin:0 0 45px 0;clear:both}

.node-article.node-teaser .field-image
{clear:left;float:left;margin-right:1em}

.node-article.node-teaser h2
{font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif !important;font-size:1.1em;letter-spacing:0}

header#page-header
{display:none}

#site-alert .marginator
{z-index:22;background-color:#fc0;padding:10px 0 10px 0;width:100%;position:relative;margin:0 0;display:table}

#site-alert span
{background-color:#C00404;border-radius:50%;width:40px;height:40px;position:relative;float:left;display:inline;margin:0 5px 0 8%}

#site-alert span:before
{content:"!";font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;color:rgba(255,255,255,0.2);font-size:30px;position:absolute;line-height:1;left:38%;top:5px;color:#FFF}

#site-alert h1
{color:#FFF;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;line-height:1;font-size:0.9em;text-transform:none;letter-spacing:0px;float:left;display:inline;margin:0 0 0 0;width:75%}

#site-alert h1 a
{color:#FFF;padding:5px;display:block;vertical-align:middle;display:table-cell;height:29px}

#site-alert h1 a:hover
{color:#C00404}

#site-alert div.contextual-links-wrapper
{display:none}

#content
{display:inline-block}

#content #main-content
{padding:25px 0 50px 0}

#content #main-content .block-views
{position:relative}

#content #main-content .more-link
{margin:0 0 25px 0;text-align:center}

#sub-nav
{padding:25px 0}

aside.sidebar
{padding:25px 0}

.no-sidebars .sidebar-first
{display:none}

#main-bottom
{padding:0 0 30px 0}

#main-bottom .block .more-link
{margin:auto;text-align:center;margin-top:-20px}

#sub-nav .block-menu h2 a,#sub-nav .block-menu-block h2 a,#sub-nav .block-menu-block-1 h2 a
{color:#2f2a20 !important}

#sub-nav .block-menu>ul>li,#sub-nav .block-menu-block>ul>li,#sub-nav .block-menu-block-1>ul>li
{border-bottom:1px dotted #f3f0ea}

#sub-nav .block-menu>ul>li.expanded,#sub-nav .block-menu-block>ul>li.expanded,#sub-nav .block-menu-block-1>ul>li.expanded
{padding-bottom:4px;list-style-image:url(../i/icons/menu-expanded.png)}

#sub-nav .block-menu>ul>li.collapsed,#sub-nav .block-menu-block>ul>li.collapsed,#sub-nav .block-menu-block-1>ul>li.collapsed
{list-style-image:url(../i/icons/menu-collapsed.png)}

#sub-nav .block-menu>ul>li li,#sub-nav .block-menu-block>ul>li li,#sub-nav .block-menu-block-1>ul>li li
{list-style-image:none}

#sub-nav .block-menu>ul>li>ul>li.expanded,#sub-nav .block-menu-block>ul>li>ul>li.expanded,#sub-nav .block-menu-block-1>ul>li>ul>li.expanded
{padding-bottom:4px;list-style-image:url(../i/icons/menu-expanded.png)}

#sub-nav .block-menu>ul>li>ul>li.collapsed,#sub-nav .block-menu-block>ul>li>ul>li.collapsed,#sub-nav .block-menu-block-1>ul>li>ul>li.collapsed
{list-style-image:url(../i/icons/menu-collapsed.png)}

#sub-nav .block-menu>ul>li>ul>li li,#sub-nav .block-menu-block>ul>li>ul>li li,#sub-nav .block-menu-block-1>ul>li>ul>li li
{list-style-image:none}

#sub-nav .block-menu>ul ul,#sub-nav .block-menu-block>ul ul,#sub-nav .block-menu-block-1>ul ul
{margin-left:15px}

#sub-nav .block-menu li a,#sub-nav .block-menu-block li a,#sub-nav .block-menu-block-1 li a
{display:block;font-size:0.75em;padding:4px 0 4px 0}

#sub-nav .block-menu li a.active,#sub-nav .block-menu-block li a.active,#sub-nav .block-menu-block-1 li a.active
{color:#3a1e1a !important;font-weight:bold}

#sub-nav .block-menu li a:hover,#sub-nav .block-menu-block li a:hover,#sub-nav .block-menu-block-1 li a:hover
{background-color:#f3f0ea}

.sidebar-first .block-menu-block li a,aside.sidebar-second .block-menu-block li a
{display:block;font-size:0.75em}

.block-shib-auth-login-box
{margin:0 0 25px 0}

.block-shib-auth-login-box h2
{display:none}

#shib_login_url a
{padding:5px 8px;border-radius:3px;color:#fff;background-color:#C00404;font-size:0.6em;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;text-transform:uppercase;letter-spacing:1px;font-weight:normal;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out;display:inline-block;text-align:center}

#shib_login_url a:hover
{background-color:#3a1e1a}

.block-user-login ul
{margin:0 0 0 0;display:inline-block}

.block-user-login ul li
{float:left;margin:0 10px 0 0}

.block-user-login ul li a
{font-size:0.6em}

.breadcrumbs
{font-size:0.5em;display:block;clear:both;padding:10px 0 10px 25px;border-bottom:1px dotted #f3f0ea;margin:0 0 20px 0;width:105%;width:calc(100% + 25px);margin-left:-25px;position:relative;z-index:22}

.item-list-pager
{margin:15px 0}

.item-list-pager ul.pager li
{display:inline;margin:0 5px 0 5px}

.block-bs2-search,.block-search
{display:none}

#brown-nav
{background-color:#3a1e1a;display:block;min-height:34px;position:absolute;top:0;left:0;width:100%}

#brown-nav .marginator
{position:relative}

#brown-nav header#brown-header
{background-color:#3a1e1a;z-index:44;position:relative}

#brown-nav h1
{background-color:#3a1e1a;text-indent:-9999em;margin:1px 0 0 0;position:relative;z-index:500}

#brown-nav h1 a
{display:block;background-image:url(../i/logos/brown-logo-small.png);background-image:url(../i/logos/brown-university.svg);background-size:cover;background-repeat:no-repeat;width:154px;height:36px;position:absolute}

#brown-nav span.toggle
{display:block;text-indent:-9999em;position:relative;top:0;left:0;z-index:501;width:100%;height:30px}

#brown-nav span.toggle a
{display:block;background-image:url(../i/icons/arrow-brown-menu-down.png);background-repeat:no-repeat;background-position:158px 16px;width:100%;height:30px;position:relative;z-index:999}

#brown-nav #u-nav
{margin:20px 0 0 0;padding:24px 24px 0 26px;position:relative;margin-top:-300px;max-height:355px;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out}

#brown-nav #u-nav .item-list
{display:inline-block;margin:0 0 30px;padding:0;vertical-align:top;width:23%}

#brown-nav #u-nav .item-list ul
{margin:0 12px 0 0;max-height:150px;overflow:hidden}

#brown-nav #u-nav .item-list li
{list-style-type:none;line-height:1.3;margin:0 0 0.25em 0;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif}

#brown-nav #u-nav .item-list li a
{color:#fc0;display:block;font-size:.875em}

#brown-nav #u-nav .item-list h3
{color:#fff;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;margin-bottom:.25em}

#brown-nav.show #u-nav
{margin-top:0}

#brown-nav.show #u-nav ul
{max-height:400px}

#brown-nav.show span.toggle a
{background-image:url(../i/icons/arrow-brown-menu-up.png)}

#site-footer
{background-color:#f3f0ea;border-top:1px solid #b2b2b2;padding:30px 0;clear:both;width:100%;min-height:110px}

#site-footer h2
{font-size:1.375em;margin:0 0 10px 0;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold}

#site-footer .block
{margin:0 0 30px 0}

#site-footer .block-contact-info
{margin:0 0 0 0}

#site-footer p,#site-footer address,#site-footer dl
{line-height:1.3em;font-size:1em;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif}

#site-footer .p-name
{font-size:1.375em;margin:0 0 15px 0;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold}

#site-footer .p-name span
{font-size:0.4em;text-transform:initial;display:block;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif}

#site-footer .p-name a
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;color:#2f2a20;text-decoration:none;font-size:1}

#site-footer dl,#site-footer address
{margin:0 0 15px 0}

#site-footer dl dt
{float:left;padding:0 4px 0 0}

#site-footer dl dd
{margin:0 0 8px 0}

#site-footer dl a
{background-repeat:no-repeat;background-position:0 50%}

#site-footer dl a.map-link
{padding:0 0 0 22px;background-image:url(../i/icons/map.png)}

#site-footer dl a[href^="mailto:"]
{padding:0 0 0 22px;background-image:url(../i/icons/email.png)}

#site-footer dl .p-facebook a
{padding:0 0 0 22px;background-image:url(../i/icons/facebook.png)}

#site-footer dl .p-twitter a
{padding:0 0 0 22px;background-image:url(../i/icons/twitter.png)}

#site-footer dl .p-instagram a
{padding:0 0 0 22px;background-image:url(../i/icons/instagram.png)}

#site-footer dl.contact dd
{margin:0 0 4px 0}

#site-footer .block-block ul
{list-style-image:url(../i/icons/bullet-red.png)}

#site-footer .block-block ul li
{margin-left:1.5em}

#brown-footer
{background-color:#3a1e1a;border-top:4px solid #C00404;padding:20px 0 20px 0}

#brown-footer .block
{margin:0 0 30px 0;padding:0 0 30px 0;border-bottom:1px dotted #FFF}

#brown-footer .block h2
{color:#FFF;font-size:1em;text-transform:uppercase}

#brown-footer .block li a
{color:#fc0}

#brown-footer #footer ul.social-media a
{background-color:transparent;background-image:url("../img/social-icons-sprite.png");background-repeat:no-repeat;display:block;float:left;width:30px;height:30px;margin-right:3px;text-indent:-999em;border-radius:2px}

#brown-footer ul.social-media
{display:block;margin:0 0 20px 0;min-height:40px}

#brown-footer ul.social-media li
{margin:0 -2px 0 0;display:inline-block}

#brown-footer ul.social-media a
{background-color:transparent;background-image:url("../i/bg/social-icons-sprite.png");background-repeat:no-repeat;display:block;float:left;width:30px;height:30px;margin-right:3px;text-indent:-999em;border-radius:2px;opacity:0.33}

#brown-footer ul.social-media a:hover
{opacity:1}

#brown-footer #footer-facebook
{background-position:0 0}

#brown-footer #footer-facebook:hover
{background-position:0 -40px}

#brown-footer #footer-twitter
{background-position:-40px 0}

#brown-footer #footer-twitter:hover
{background-position:-40px -40px}

#brown-footer #footer-youtube
{background-position:-81px -1px}

#brown-footer #footer-youtube:hover
{background-position:-81px -41px}

#brown-footer #footer-itunesu
{background-position:-120px 0}

#brown-footer #footer-itunesu:hover
{background-position:-120px -40px}

#brown-footer #footer-google-plus
{background-position:-160px 0}

#brown-footer #footer-google-plus:hover
{background-position:-160px -40px}

#brown-footer #footer-linkedin
{background-position:-200px 0}

#brown-footer #footer-linkedin:hover
{background-position:-200px -40px}

#brown-footer #footer-rss
{background-position:-240px 0}

#brown-footer #footer-rss:hover
{background-position:-240px -40px}

#brown-footer #footer-futurity
{background-position:-280px 0}

#brown-footer #footer-futurity:hover
{background-position:-280px -40px}

#brown-footer #footer-instagram
{background-position:-320px 0}

#brown-footer #footer-instagram:hover
{background-position:-320px -40px}

#brown-footer #brown-contact h1
{text-indent:-999em;background:transparent url("../i/logos/brown-university-type-footer.svg") -2px 0 no-repeat;height:25px;width:270px;background-size:contain;margin:0 0 5px 0}

#brown-footer #brown-contact p
{color:#FFF;line-height:1.5em;margin-bottom:1.5em;font-size:.875em;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif}

#brown-footer #brown-contact a
{color:#fc0;text-decoration:none}

#brown-footer #brown-contact a:hover
{color:#f3f0ea;text-decoration:underline}

#brown-footer #give-to-brown
{margin:0 0 30px 0;padding:0 0 40px 0;border-bottom:1px dotted #FFF}

a.giving-footer
{display:block;text-indent:-999em;background:transparent url(../i/logos/giving-to-brown.png) 50% 0 no-repeat;height:51px;width:192px;margin:auto;margin-top:.5em}

body.page-search #main-content h1,body.page-search .breadcrumb
{display:none}

body.page-search #main-content form#search-form
{margin:25px 0;width:91%}

.gs-webResult.gs-result a,.gs-webResult.gs-result a.gs-title,.gs-webResult.gs-result a.gs-title:visited,.gs-webResult.gs-result a.gs-title:visited b,.gs-imageResult a.gs-title:visited,.gs-imageResult a.gs-title:visited b,.gs-webResult.gs-result a.gs-title:link,.gs-webResult.gs-result a.gs-title:link b,.gs-imageResult a.gs-title:link,.gs-imageResult a.gs-title:link b
{color:#C00404}

#google-cse-results
{overflow-x:hidden}

#google-cse-results iframe
{overflow-x:hidden}

#main-content .news-front ul
{margin:0 0 0 0 !important}

#main-content .news-front li
{font-size:1em}

.articles ul,.news ul,.news-front ul
{margin:0 0 25px 0}

.articles ul li,.news ul li,.news-front ul li
{padding:0 0 25px 0}

.articles .views-row,.news .views-row,.news-front .views-row
{display:inline-block;clear:both;padding:0 0 25px 0;width:100%}

.articles .views-row:last-of-type,.news .views-row:last-of-type,.news-front .views-row:last-of-type
{padding:0 0 0 0}

.articles article,.news article,.news-front article
{position:relative;display:inline-block;clear:both;margin:0 0 25px 0;width:100%}

.articles h2,.news h2,.news-front h2
{margin:0 0 12px 0;font-weight:normal !important}

.articles span.date,.news span.date,.news-front span.date
{margin:0 0 6px 0;width:85%;clear:right;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif}

.articles img,.news img,.news-front img
{top:0;left:0;width:10%;height:auto}

.node-type-article section h6
{margin:0 0 15px 0}

.node-type-article .field-image
{margin:0 auto 20px auto;width:60%}

.node-type-article .article-footer
{font-size:0.7em;padding-top:10px;margin:45px 0 25px 0;border-top:1px dotted #f3f0ea}

.node-type-article .article-footer h4
{margin:3em 0 0 0}

.news,.news-front
{width:100%}

.news ul,.news-front ul
{margin:0 0 0 0}

.news .views-row,.news-front .views-row
{margin:0 0 25px 0;display:inline-block;clear:both}

.news .views-row .field-image,.news-front .views-row .field-image
{clear:left;float:left;margin-right:1em}

.news .views-row:last-of-type,.news-front .views-row:last-of-type
{margin:0 0 0 0}

.news .views-row h2,.news-front .views-row h2
{margin:0 0 0.2em 0;font-weight:normal;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif !important}

.news .views-row img,.news-front .views-row img
{width:80px;height:auto}

.news .views-row span.date,.news-front .views-row span.date
{font-size:0.8em}

.block-calwidget-lite h2.title
{font-size:1em}

.block-calwidget-lite .events-list .no-events
{color:#2f2a20}

.block-calwidget-lite .events-list .date
{padding-bottom:9px;margin-bottom:9px}

.block-calwidget-lite .events-list .date ul
{margin-left:60px;list-style-image:url("../i/icons/bullet-calendar-block.png")}

.block-calwidget-lite .events-list h5
{margin:4px 0 0 0;color:#2f2a20 !important;padding-bottom:0.25em}

.block-calwidget-lite .events-list .month
{margin:0 0 2px 0;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;font-size:10px;color:#2f2a20 !important}

.block-calwidget-lite .events-list .day
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold;font-size:20px;color:#2f2a20 !important}

.block-calwidget-lite .events-list li
{margin:0 0 4px 0;line-height:0.9}

.block-calwidget-lite .events-list li a
{color:#C00404;font-size:0.65em}

.block-calwidget-lite .events-list .more-events
{background:none;float:none;margin:15px 0 15px 0;text-align:center;padding-left:0}

.block-calwidget-lite .events-list a.more-link
{border-radius:3px;background-color:#aba698;color:#fff;display:inline-block;font-size:0.625em;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;letter-spacing:1px;padding:5px 15px 5px 20px}

.block-calwidget-lite .events-list a.more-link::before
{content:" ";height:8px;width:8px;background-size:8px 8px;background-image:url("../i/icons/arrow.svg");padding:0 0;margin:0 5px 0 -14px;display:inline-block}

.block-calwidget-lite .events-list a.more-link:hover
{background-color:#C00404;color:#FFF !important}

.sidebar-second .block-calwidget-lite
{background-color:#f3f0ea;padding:15px;margin:0 0 25px 0}

.people
{text-align:center}

.people ul
{margin:0 0 0 0 !important}

.people .views-row
{display:inline-block;margin:0 0 0 0 !important;padding:0 15px;width:163px}

.people .node-person.node-teaser
{text-align:center;margin:0 0 25px 0;display:inline-block;vertical-align:top}

.people .node-person.node-teaser h2
{margin:0.5em 0 0.25em 0 !important;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif !important;font-size:1em !important;font-weight:normal !important}

.people .node-person.node-teaser h2 a
{color:#2f2a20 !important}

.people .node-person.node-teaser h2 a a:visited
{color:#2f2a20 !important}

.people .node-person.node-teaser img
{border-radius:50%;width:140px}

.people .node-person.node-teaser p
{font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;width:100px;margin:auto;line-height:1.2}

.people .node-person.node-teaser p a:link
{color:#2f2a20 !important}

.people .node-person.node-teaser p a:visited
{color:#841616 !important}

.people .node-person.node-teaser p a:hover
{color:#C00404 !important}

.node-course.node-teaser
{display:inline-block;vertical-align:top;border:1px solid #f3f0ea;padding:15px;min-height:170px;position:relative}

.node-course.node-teaser::after
{content:url("../i/icons/book.png") !important;position:absolute;bottom:-12px;left:50%;margin-left:-30px;display:block;width:45px;height:32px !important;z-index:55;visibility:visible !important;transform:scale(0.75)}

.node-course.node-teaser h2
{text-align:center;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif !important;font-weight:normal !important;font-size:1em;line-height:1.2}

.node-course.node-teaser h2 a
{color:#2f2a20 !important}

.node-course.node-teaser h2 a:link
{color:#2f2a20 !important}

.node-course.node-teaser h2 a a:visited
{color:#841616 !important}

.node-course.node-teaser h2 a a:hover
{color:#C00404 !important}

.node-course.node-teaser .content
{font-size:.75em;color:#aba698}

.courses
{text-align:center}

.courses ul
{text-align:center;display:inline-block;margin:0 0 25px 0 !important}

.courses .node-course.node-teaser
{margin:0 0 18px 0}

.courses .views-row
{display:inline-block;margin:0 5% 0 5% !important;width:90%}

.potent-quotables
{margin:0 0 0 0}

.potent-quotables .node-potent-quotable.node-teaser
{background-color:#3a1e1a;background-image:url(../i/bg/header.png)}

.potent-quotables .item-list
{margin:0 0 0 0}

.potent-quotables .item-list ul
{margin:0 0 0 0}

.potent-quotables .item-list ul li
{margin:0 0 0 0;width:100%;display:block}

.potent-quotables .item-list ul li article
{padding:20px 0 20px 0;position:relative}

.potent-quotables .item-list ul li .content
{max-width:1300px;margin:0 8%;width:84%}

.potent-quotables .item-list ul li figure.field-quote-image
{float:none;margin-left:0;margin-right:0;position:relative;top:auto;position:absolute;right:8%;bottom:-45px;width:100px;height:100px}

.potent-quotables .item-list ul li figure.field-quote-image img
{width:auto;height:100px;border-radius:50%}

.potent-quotables .item-list ul li blockquote
{border-left:none;position:relative;margin:1em auto 0 auto;color:#FFF;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;padding:0.5em;width:90%}

.potent-quotables .item-list ul li blockquote p
{color:#FFF}

.potent-quotables .item-list ul li blockquote::before
{font-size:1.1em;position:absolute;top:12px;left:10px}

.potent-quotables .item-list ul li cite
{font-size:.75em;margin:0 0 0 1em;padding:0 0 15px 0;color:#fc0;display:block;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;text-transform:uppercase}

.potent-quotables .item-list ul li cite:before
{content:"— "}

#main-bottom .block-views-potent-quotables-block .width
{max-width:100%;width:100%}

.stories
{background-color:#f3f0ea}

.stories .views-row h5
{text-transform:uppercase;margin-bottom:0.5em}

.stories .views-row h2
{margin:0 0 0.5em 0 !important;text-transform:uppercase}

.stories .views-row div
{font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;margin:0 0 1em 0}

.stories .views-row .more-link
{margin:0 0 1em 0}

.related ul
{text-align:center;margin:0 0 0 0 !important;list-style-type:none !important}

.related ul .views-row
{margin:0 30px 50px 30px;width:150px;display:inline-block;vertical-align:top}

.related ul .views-row img
{width:100%}

.related ul .views-row h3
{padding:0 0;margin:0.6em 0 0 0;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold;text-align:center;font-size:1.1em}

#billboard
{margin:0 0 0 0}

#billboard .block-ultibanner
{display:inline-block}

#billboard .ultibanner
{position:relative}

#billboard .ultibanner-overlay
{background-color:#2f2a20;padding:25px 4%;position:relative;width:84%;margin:-4% 4% 0 4%;top:auto;left:auto}

#billboard .ultibanner-overlay h2
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-size:1.35em;font-weight:bold;margin:0 0 6px 0}

#billboard h5
{color:#FFF;margin:0;text-transform:uppercase;font-size:0.8em}

#billboard h1
{color:#fc0;font-size:1.5em;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;margin:0 0 0.3em 0;line-height:1}

#billboard h1 a
{color:#fc0}

#billboard p
{font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;font-size:0.8em;line-height:1.3;color:#FFF;margin:0 0 0 0}

#billboard p.eyebrow
{text-transform:uppercase;margin:0 0 4px 0;font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,"Roboto",Arial,Helvetica,sans-serif;font-size:1em}

#billboard img
{display:table;width:100%}

.block-views-at-a-glance-block ul,.block-views-at-a-glance-block-1 ul,.at-a-glance ul
{text-align:center;margin:0 0 25px 0 !important}

.block-views-at-a-glance-block ul li.views-row,.block-views-at-a-glance-block-1 ul li.views-row,.at-a-glance ul li.views-row
{display:inline-block;font-size:1em;margin:0 0 18px 0;padding:0 13px 0 13px;text-align:center;max-width:25%;position:relative;vertical-align:top}

.block-views-at-a-glance-block ul li.views-row div.at-a-glance-icon,.block-views-at-a-glance-block-1 ul li.views-row div.at-a-glance-icon,.at-a-glance ul li.views-row div.at-a-glance-icon
{width:100%}

.block-views-at-a-glance-block ul li.views-row svg,.block-views-at-a-glance-block-1 ul li.views-row svg,.at-a-glance ul li.views-row svg
{height:64px;width:64px;margin-bottom:.5em}

.block-views-at-a-glance-block ul li.views-row h5,.block-views-at-a-glance-block-1 ul li.views-row h5,.at-a-glance ul li.views-row h5
{font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;font-size:.75em;text-align:center;margin:auto;width:80%;line-height:1.4}

.block-views-at-a-glance-block ul li.views-row h5 span,.block-views-at-a-glance-block-1 ul li.views-row h5 span,.at-a-glance ul li.views-row h5 span
{display:block;font-size:2em;margin-bottom:.125em}

.front #content #main-content nav.tabs,.front #content #main-content .breadcrumb
{display:none}

.front #billboard .marginator
{position:relative;max-width:1300px;margin:0 auto;width:100%}

.front .block-views-courses-block
{border-top:1px dotted #f3f0ea}

.front .block-views-stories-block
{width:103.5%;margin:0 0 45px -10% !important;padding:25px 8%;background-color:#f3f0ea}

.front .block-views-stories-block .stories
{max-width:1300px;margin:0 auto;width:100%}

#error-404 form.google-cse-searchbox-form
{padding:10px;margin:0 0 30px 0;background-color:#3a1e1a;border-radius:4px;display:inline-block;width:90%;width:calc(100% - 20px);position:relative;border:none;line-height:0}

#error-404 form.google-cse-searchbox-form .search-field
{background-color:#f7f0f0;font-family:Georgia, "Times New Roman", Times, serif;font-style:italic;padding:2px 3px 1px 3px;font-size:12px;width:95%;width:calc(100% - 16px);line-height:1.5;border:none;height:18px;margin:0 0 0 0}

#error-404 form.google-cse-searchbox-form .search-submit
{position:absolute;margin:0;padding:0;border:none;line-height:0;z-index:33;top:10px;right:10px;outline:none;box-shadow:none}

@media only screen and (min-width: 37.51em)
{body.navbar-administration #brown-nav
{top:0px}

body
{padding-top:0}

#shell
{position:relative;overflow-x:hidden}

header#page-header
{display:block;background-image:url(../i/bg/header.png);background-color:#513f3c;background-position:0 0;margin-top:34px}

header#page-header .marginator
{display:table;height:145px}

header#page-header #site-info
{display:table-cell;vertical-align:middle;padding-bottom:30px}

header#page-header h1
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:bold;line-height:1;font-size:2.375em;text-shadow:1px 1px 2px rgba(0,0,0,0.9)}

header#page-header h1 a
{color:#FFF;text-decoration:none;display:inline-block}

header#page-header h1 a:hover
{color:#fc0}

header#page-header h1 a span
{font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;display:block;font-size:0.4em;font-weight:normal !important}

header#page-header .slogan
{color:#FFF;font-size:.875em;text-shadow:1px 1px 2px rgba(0,0,0,0.9)}

#site-alert .marginator
{padding:10px 25px 10px 25px;width:calc(84% - 50px);width:84%;margin:auto}

#site-alert span
{margin:0 0 0 0}

#site-alert h1
{text-align:left;margin:0 0 0 10px}

main
{padding:0 0 0 0;font-size:115%}

#content
{width:80%;float:right}

#content #main-content
{width:100%;width:calc(100% - 50px);padding-left:50px}

#content aside.sidebar
{width:100%;width:calc(100% - 50px);padding-left:50px}

#sub-nav
{width:20%;float:left;padding:25px 0;margin:0 0 0 0}

body.two-sidebars #sub-nav
{float:left}

#site-footer
{min-height:170px}

#site-footer .block
{margin:0 5% 30px 0}

#site-footer .marginator
{display:flex}

#site-footer address,#site-footer dl
{float:left;margin-right:20px;width:auto;min-width:200px}

#brown-footer
{display:inline-block;width:100%}

#brown-footer .block,#brown-footer #give-to-brown
{border-bottom:none}

#brown-footer .block
{margin:0 30px 0 0;padding:0 30px 0 30px;border-right:1px dotted #FFF;float:left}

#brown-footer .block:first-of-type
{padding:0 30px 0 0}

#brown-footer #give-to-brown
{margin:0 0 0 0;padding:0 0 0 30px;float:left}

#brown-footer section
{padding:0 0 30px 0;margin:0 0 30px 0;border-bottom:1px dotted #FFF;display:inline-block;width:100%}

#brown-footer #brown-contact
{clear:both}

.stories
{width:100%;display:inline-block}

.stories .views-row
{padding:25px 0}

.stories .views-row h5,.stories .views-row h2,.stories .views-row div,.stories .views-row .more-link
{float:right;width:60%;width:calc(64% - 50px);clear:right}

.stories .views-row h5
{margin:0 0 1em 0}

.stories .views-row img
{float:left;width:35%;margin-right:50px}

.people .views-row
{margin:0 0 15px 0 !important;padding:0 13px;width:22%;width:calc(25% - 30px)}

#main-bottom .people .views-row
{margin:0 0 15px 0 !important;padding:0 13px;width:17%;width:calc(20% - 32px)}

.potent-quotables .item-list ul li blockquote
{width:60%;margin:1em 1em 0 4em}

.potent-quotables .item-list ul li figure.field-quote-image
{bottom:-25px;width:150px;height:150px}

.potent-quotables .item-list ul li figure.field-quote-image img
{width:auto;height:150px}

.potent-quotables .item-list ul li cite
{margin:0 0 0 12em}

.potent-quotables .node-potent-quotable.node-teaser,.potent-quotables article
{padding:40px 0 !important}

.courses .views-row
{margin:0 1% 1% 1% !important;width:22.5%}

#main-bottom .courses .views-row
{width:18.5%}

.related ul .views-row
{margin:0 4% 1% 4% !important;width:24.5%}

#main-bottom .related ul .views-row
{width:16.5%}

#billboard .block-ultibanner
{display:inline-block;width:105%;width:calc(100% + 50px);margin-left:-25px}

#billboard .ultibanner-overlay
{background-color:rgba(47,42,32,0.8);padding:25px 4%;position:absolute;margin:0 0 0 0;left:25px;bottom:25px;width:53%}

#billboard .ultibanner-overlay h2
{font-size:1.75em}

#billboard h1
{color:#fc0;font-size:1.5em;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;margin:0 0 0.3em 0;line-height:1}

#billboard p
{font-size:0.8em}

#billboard p.eyebrow
{font-size:1em}

.at-a-glance .views-row,.block-views-at-a-glance-block .views-row,.block-views-at-a-glance-block-1 .views-row
{margin:0 0 15px 0 !important;padding:0 13px;width:22%;width:calc(25% - 30px)}

#main-bottom .at-a-glance .views-row,#main-bottom .block-views-at-a-glance-block .views-row,#main-bottom .block-views-at-a-glance-block-1 .views-row
{margin:0 0 15px 0 !important;padding:0 13px;width:calc(20% - 60px)}

#main-bottom .news .views-row
{width:43%;margin:0 5% 0 0}

body.front #billboard .marginator,body.front.one-sidebar.sidebar-first #billboard .marginator
{max-width:1300px;margin:0 auto;width:84%}

body.front main,body.front.one-sidebar.sidebar-first main
{padding:0 0 20px 0}

body.front .breadcrumb,body.front.one-sidebar.sidebar-first .breadcrumb
{display:none}

body.front #content,body.front.one-sidebar.sidebar-first #content
{width:100%;float:none;padding-left:0}

body.front #content .block:last-of-type,body.front.one-sidebar.sidebar-first #content .block:last-of-type
{margin:0 0 0 0}

body.front #content #main-content,body.front.one-sidebar.sidebar-first #content #main-content
{width:100%;padding-left:0px}

body.front #sub-nav,body.front.one-sidebar.sidebar-first #sub-nav
{width:40%;float:left;padding:25px 0;clear:both}

.news
{margin:0 0 0 0 !important;width:100%}

.block-calwidget-lite h2.title
{font-size:0.9em}

#site-nav
{position:absolute;top:140px;left:0;width:100%}

#site-nav .marginator
{position:relative}

#site-nav h1
{display:none}

#site-nav nav
{background-color:rgba(0,0,0,0.8);display:inline-block;width:105%;width:calc(100% + 50px);margin-left:-25px}

#site-nav nav li
{float:left}

#site-nav nav li.active-trail a
{color:#fc0}

#site-nav nav li ul
{display:none}

#site-nav nav li ul li:last-of-type
{display:none}

#site-nav nav li.expanded
{list-style-type:none;list-style-image:none;padding:0 0 0 0}

#site-nav nav li a
{color:#FFF;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;font-weight:300;padding:10px 25px;display:inline-block}

#site-nav nav li a:hover
{color:#fc0}

.block-bs2-search,.block-search
{display:block;position:absolute;top:0;right:15px;max-width:200px;float:right;z-index:500}

.block-bs2-search #search-button,.block-search #search-button
{width:20px;height:16px;background-image:url(../i/icons/search.png);display:inline-block;z-index:33;text-indent:-9999em;overflow:hidden;right:0px;top:12px}

.block-bs2-search form.gsc-search-box,.block-search form.gsc-search-box
{z-index:221;position:relative;margin-top:4px}

.block-bs2-search form.gsc-search-box table.gsc-search-box,.block-search form.gsc-search-box table.gsc-search-box
{margin-bottom:0}

.block-bs2-search form.gsc-search-box table.gsc-search-box input.gsc-input,.block-bs2-search form.gsc-search-box table.gsc-search-box input.gsc-search-button,.block-search form.gsc-search-box table.gsc-search-box input.gsc-input,.block-search form.gsc-search-box table.gsc-search-box input.gsc-search-button
{opacity:0.3}

.block-bs2-search form.gsc-search-box table.gsc-search-box:hover input.gsc-input,.block-bs2-search form.gsc-search-box table.gsc-search-box:hover input.gsc-search-button,.block-bs2-search form.gsc-search-box table.gsc-search-box:active input.gsc-input,.block-bs2-search form.gsc-search-box table.gsc-search-box:active input.gsc-search-button,.block-bs2-search form.gsc-search-box table.gsc-search-box.focus input.gsc-input,.block-bs2-search form.gsc-search-box table.gsc-search-box.focus input.gsc-search-button,.block-search form.gsc-search-box table.gsc-search-box:hover input.gsc-input,.block-search form.gsc-search-box table.gsc-search-box:hover input.gsc-search-button,.block-search form.gsc-search-box table.gsc-search-box:active input.gsc-input,.block-search form.gsc-search-box table.gsc-search-box:active input.gsc-search-button,.block-search form.gsc-search-box table.gsc-search-box.focus input.gsc-input,.block-search form.gsc-search-box table.gsc-search-box.focus input.gsc-search-button
{opacity:1}

.block-bs2-search .gsc-input-focus,.block-search .gsc-input-focus
{opacity:1 !important}

.block-bs2-search input.gsc-input,.block-search input.gsc-input
{padding:4px 8px;margin:0 0 0 0;width:162px;border-radius:3px;border:none;font-family:"Chronicle SSm A","Chronicle SSm B",Times New Roman,serif;font-size:0.9em;float:left;display:inline;background-image:none !important;margin-right:-4px}

.block-bs2-search input.gsc-search-button,.block-search input.gsc-search-button
{width:20px;height:16px;background-image:url(../i/icons/search.png);display:inline-block;z-index:33;text-indent:-9999em;overflow:hidden;right:0px;top:12px;border:none;border-radius:0;padding:0 0;min-width:20px;background-color:#3a1e1a}

.block-bs2-search input.gsc-search-button:hover,.block-search input.gsc-search-button:hover
{-webkit-transform:scale(1.1);transform:scale(1.1);z-index:999;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out}

.block-bs2-search .gsc-clear-button,.block-search .gsc-clear-button
{display:none}

}

@media only screen and (min-width: 56.25em)
{main
{font-size:130%;min-height:400px}

#content
{width:80%;float:right}

#content #main-content
{width:71%;width:calc(71% - 50px);padding-left:50px;float:left;min-height:200px}

#content aside.sidebar-second
{float:left;width:24%;width:calc(24% - 50px);padding:25px 0 25px 50px}

#main-bottom
{clear:both}

#sub-nav
{background-color:#FFF;width:20%;float:left;padding:25px 0;margin:0 0 0 0}

body.one-sidebar.sidebar-first #content #sub-nav
{width:10%}

body.one-sidebar.sidebar-first #content #main-content
{width:81%;width:calc(81% - 50px)}



body.one-sidebar.sidebar-first #content aside.sidebar-second
{float:left;width:29%;width:calc(29% - 50px);padding:25px 0 25px 50px}

body.not-front.one-sidebar.sidebar-second #content
{width:94%}

body.not-front.one-sidebar.sidebar-second #content #main-content
{width:71%;width:calc(76% - 50px);float:left}

body.not-front.one-sidebar.sidebar-second #content #sub-nav
{width:10%}

body.front.one-sidebar.sidebar-second #content
{width:100%}

body.front.one-sidebar.sidebar-second #content #main-content
{float:left;width:70%;width:calc(70% - 50px);margin-right:50px;padding-left:0}

body.front.one-sidebar.sidebar-second #content aside.sidebar-second
{float:left;width:20%;padding:20px;padding-top:20px;width:calc(30% - 40px);margin-top:-87px;z-index:44;position:relative}

body.two-sidebars #content #main-content
{width:65%;width:calc(65% - 50px)}

body.two-sidebars #content aside.sidebar-second
{float:left;width:35%;width:calc(35% - 50px);padding-left:50px}

body.two-sidebars #content #sub-nav
{width:10%}

body.no-sidebars #content
{width:94%}

body.no-sidebars.node-type-article .field-image
{margin:0 0 30px 30px;margin-right:-150px;float:right}

body.no-sidebars.node-type-person .field-person-photo
{margin:0 0 30px 30px;margin-right:-150px;float:right;width:300px}

body.path-courses .courses .views-row
{width:45%}

#site-footer .block
{float:left;width:auto;min-width:20%;margin:0 5% 0 0}

#site-footer .block:last-of-type
{margin:0 0 0 0}

#brown-footer .block,#brown-footer .block:first-of-type
{margin:0 30px 0 30px;padding:0 30px 0 30px;border-left:1px dotted #FFF;border-right:none;min-height:200px}

#brown-footer .block:first-of-type,#brown-footer .block:first-of-type:first-of-type
{margin:0 30px 0 0}

#brown-footer #give-to-brown
{margin:0 0 0 0;padding:0 0 0 30px;border-left:1px dotted #FFF;border-right:none;min-height:200px}

#brown-footer section
{padding:0 0 30px 0;margin:0 0 30px 0;border-bottom:none;display:inline;width:auto;float:right;width:600px}

#brown-footer #brown-contact
{clear:none;float:left}

}

@media only screen and (min-width: 37.5em) and (max-width: 56.1875em)
{body.front.one-sidebar.sidebar-second aside.sidebar-second
{margin-top:0 !important}

#billboard h2
{font-size:1.2em}

#billboard .ultibanner-overlay
{width:80%}

#news-and-events .block-calwidget-lite
{margin-top:0}

}

@media only screen and (min-width: 37.5em) and (max-width: 48em)
{#billboard h1
{font-size:1em}

#billboard .ultibanner-overlay
{width:80%;padding:15px}

}

@media only screen and (min-width: 0.1em) and (max-width: 37.5em)
{body.navbar-administration #site-nav.not-scrolled
{top:38px}

#site-nav
{background-color:#3a1e1a;position:fixed;top:0;left:0;height:32px;width:100%;min-width:310px;z-index:444}

#site-nav .marginator
{width:100%;padding:0 0;margin:0 0 0 0}

#site-nav h1
{font-size:1em;width:100%;margin:0 0 0 0;line-height:0;letter-spacing:0.5px}

#site-nav h1 span#also
{display:inline;line-height:2}

#site-nav h1 a#also-in-site
{margin:-6px 8px 0 0;display:inline-block;text-indent:-9999px;background-image:url(../i/icons/menu-white.png);background-repeat:no-repeat;background-position:6px 6px;height:32px;width:32px;background-color:#513f3c}

#site-nav h1 a#also-in-brown
{margin:0 8px 0 0;display:inline-block;text-indent:-9999px;background-image:url(../i/logos/brown-seal-small.png);background-image:url(../i/logos/brown-seal.svg);background-size:cover;background-repeat:no-repeat;width:21px;height:36px}

#site-nav h1 a#also-in-front-page
{margin:0 0 0 0;padding:4px 0 0 0;display:inline-block;color:#FFF;text-decoration:none;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif}

#site-nav h1 a#also-in-front-page span
{display:none}

#site-nav nav
{display:none;list-style-type:none;border-top:none;width:100%;margin-top:-4px}

#site-nav nav.pop
{display:block}

#site-nav nav li
{margin:0 0 0 0;border-top:none;border:none;background-color:#513f3c;display:inline-block;width:50%;border-bottom:1px solid #312523;float:left}

#site-nav nav li:nth-of-type(odd)
{border-right:1px solid #312523;width:49%;width:calc(50% - 1px)}

#site-nav nav li ul
{display:none}

#site-nav nav a
{font-size:1em;padding:10px 10px 10px 10px;display:block;color:#FFF;font-family:"Vitesse SSm A","Vitesse SSm B",Vitesse,Arial,sans-serif;text-decoration:none}

#site-nav nav a:hover
{background-color:#342826}

#brown-nav
{display:none}

}

@media only screen and (min-width: 37.51em) and (max-width: 68.75em)
{#site-nav nav
{background-color:#000}

}


/*# sourceMappingURL=pawcatuck.css.map */
